<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrando Contato</title>
</head>
<body>
    
    <a href="/users">Contatos</a>

    <form action="/users/cadastro" method="POST">
        <label for="nomeContato" name="lblNomeContato">Nome:</label></br>
        <input type="text" name="nomeContato"><br>
        <label for="telefoneContato" name="lblTelefoneContato">Telefone:</label></br>
        <input type="text" name="telefoneContato"><br>
        <label for="emailContato" name="lblEmailContato">Email:</label></br>
        <input type="text" name="emailContato"><br>
        <label for="enderecoContato" name="lblEncerecoContato">Endereço:</label></br>
        <input type="text" name="enderecoContato"><br>
        <label for="cidadeContato" name="lblCidadeContato">Cidade:</label></br>
        <input type="text" name="cidadeContato"><br>
        <label for="cepContato" name="lblCepContato">CEP:</label></br>
        <input type="text" name="cepContato"><br>
        <label for="grupoContato" name="lblGrupoContato">Grupo:</label></br>
        <input type="text" name="grupoContato"><br>
        <button type="submit">Enviar</button>
    </form>

</body>
</html>