<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrando Contato</title>

    <style>
        #cabecalho{
            padding-top: 15px;
            padding-bottom: 15px;
            background-image: url("base-cabecalho.png");
            background-size: 100%;
        }

        #titulo{
            color:green;
            font-size: 30px;
            margin-left: 5px;
        }

        #meuLink{
            text-decoration: none;
            color: white;
            background-color: green;
            border-radius: 10px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #side{
            padding-left: 60%;
        }

        #centro{
            text-align: center;
        }

        #formulario{
            margin: auto;
            width: 30%;
            margin-top: 10%;
            border-radius: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            color: white;
            background-color: green;
        }

        #btn{
            margin-top: 2%;
        }

        body{
            background-image: url("bg-ondas.png");
            background-size: 100%;
        }

        #imagem{
            margin-left: 2%;
        }

    </style>

</head>
<body>

    <div id="cabecalho">
        <img src="logo-icone-cabecalho.png" id="imagem">
        <span id="titulo">Cadastro de Contatos</span>
        <span id="side">
            <a href="/users" id="meuLink">Contatos</a>
        </span>
    </div>

    <div id="centro">
        <div id="titulo"> <%- resultado %> </div>
        <form action="/cadastro" method="POST" id="formulario">
            <label for="nomeContato" name="lblNomeContato"><strong>Nome:</strong></label><br>
            <input type="text" name="nomeContato"><br>
            <label for="telefoneContato" name="lblTelefoneContato"><strong>Telefone:</strong></label><br>
            <input type="text" name="telefoneContato"><br>
            <label for="emailContato" name="lblEmailContato"><strong>Email:</strong></label><br>
            <input type="text" name="emailContato"><br>
            <label for="enderecoContato" name="lblEncerecoContato"><strong>Endereço:</strong></label><br>
            <input type="text" name="enderecoContato"><br>
            <label for="cidadeContato" name="lblCidadeContato"><strong>Cidade:</strong></label><br>
            <input type="text" name="cidadeContato"><br>
            <label for="cepContato" name="lblCepContato"><strong>CEP:</strong></label><br>
            <input type="text" name="cepContato"><br>
            <label for="grupoContato" name="lblGrupoContato"><strong>Grupo:</strong></label><br>
            <input type="text" name="grupoContato"><br>
            <button type="submit" id="btn">Enviar</button>
        </form>
    </div>

</body>
</html>