<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar Contato</title>

    <style>
        #cabecalho{
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 10px;
            padding-right: 10px;
            box-shadow: 0px 2px 10px gray;
        }

        #titulo{
            color:green;
            font-size: larger;
        }

        #meuLink{
            text-decoration: none;
            color: white;
            background-color: green;
            border-radius: 10px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #side{
            padding-left: 85%;
        }

        #centro{
            text-align: center;
        }

        #formulario{
            background-color: green;
            margin: auto;
            color: white;
            margin-top: 10px;
            border-radius: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 5px;
            padding-right: 5px;
        }

    </style>

</head>
<body>
    <div id="cabecalho">
        <span id="titulo">Apagar Contato</span>
        <span id="side">
            <a href="/users" id="meuLink">Contatos</a>
        </span>
    </div>

    <div id="formulario">
        <form action="/users/delete/busca" method="POST">
            <label for="nomeBusca" name="lblNomeBusca">Digite o nome do Contato:</label>
            <input type="text" name="nomeBusca">
            <button type="submit">Procurar</button>
        </form>
    </div>

    <div id="titulo"> <%- resultado %> </div>

</body>
</html>