<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <style>
        #cabecalho{
            padding-top: 15px;
            padding-bottom: 15px;
            box-shadow: 0px 2px 10px gray;
        }

        #titulo{
            color:green;
            font-size: larger;
        }

        #meuLink{
            text-decoration: none;
            color: green;
        }

        #meuLink2{
            text-decoration: none;
            color: white;
            background-color: green;
            border-radius: 10px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #side{
            padding-left: 80%;
        }

    </style>

</head>
<body>

    <header id="cabecalho">
        <span id="titulo">Agenda de <strong>Contatos</strong></span>
        <span id="side">
            <a href="/login" id="meuLink">login </a>
            <a href="/registro" id="meuLink2">registro</a>
        </span>
    </header>

    <div></div>

</body>
</html>