<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <style>
        #cabecalho{
            padding-top: 15px;
            padding-bottom: 15px;
            background-image: url("base-cabecalho.png");
            background-size: 100%;
        }

        #titulo{
            color:green;
            font-size: 30px;
            margin-left: 5px;
        }

        #meuLink{
            text-decoration: none;
            color: white;
            background-color: green;
            border-radius: 10px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #side{
            padding-left: 66%;
        }

        body{
            background-image: url("bg-ondas.png");
            background-size: 100%;
        }

        #imagem{
            margin-left: 2%;
        }
                
    </style>

</head>
<body>

    <header id="cabecalho">
        <img src="logo-icone-cabecalho.png" id="imagem">
        <span id="titulo">Agenda de <strong>Contatos</strong></span>
        <span id="side">
            <a href="/login" id="meuLink">login </a>
            <a href="/registro" id="meuLink">registro</a>
        </span>
    </header>

</body>
</html>