<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <a href="/">home </a>
        <a href="/registro">registro </a>
    </div>

    <form action="/login" method="POST">
        <label for="email" name="lblEmail">Digite seu email: </label></br>
        <input type="text" name="email"><br>
        <label for="senha" name="lblSenha">Digite sua senha: </label></br>
        <input type="text" name="senha"><br>
        <button type="submit">Enviar</button>
    </form>
    
</body>
</html>