<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <style>
        #cabecalho{
            padding-top: 15px;
            padding-bottom: 15px;
            background-image: url("base-cabecalho.png");
            background-size: 100%;
        }

        #titulo{
            color:green;
            font-size: 30px;
            margin-left: 5px;
        }

        #meuLink{
            text-decoration: none;
            color: green;
        }

        #meuLink2{
            text-decoration: none;
            color: white;
            background-color: green;
            border-radius: 10px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #side{
            padding-left: 80%;
        }

        #centro{
            text-align: center;
        }

        #formulario{
            background-color: green;
            margin: auto;
            width: 30%;
            margin-top: 10%;
            border-radius: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            color: white;
        }

        body{
            background-image: url("bg-ondas.png");
            background-size: 100%;
        }

        #imagem{
            margin-left: 2%;
        }

    </style>

</head>
<body>
    <div id="cabecalho">
        <img src="logo-icone-cabecalho.png" id="imagem">
        <span id="titulo">Registro</span>
        <span id="side">
            <a href="/" id="meuLink">home </a>
            <a href="/login" id="meuLink2">login </a>
        </span>
    </div>

    <div id="centro">
        <div id="titulo"> <%- resultado %></div>
        <div id="formulario">
            <form action="/registro" method="POST">
                <label for="nome" name="lblNome">Digite seu nome: </label><br>
                <input type="text" name="nome"><br>
                <label for="email" name="lblEmail">Digite seu email: </label></br>
                <input type="text" name="email"><br>
                <label for="senha" name="lblSenha">Digite sua senha: </label></br>
                <input type="text" name="senha"><br>
                <button type="submit">Enviar</button>
            </form>
        </div>
</div>
    
</body>
</html>